:root {
  --bFont: #2f4f4f;
  --bkgd: azure;
  --boxbrdr: sienna;
}

* {
  font-family: monospace;
}

body {
  background-color: var(--bkgd);
  border: 5px solid #2f4f4f;
  border-radius: 2%;
}

header {
  display: flex 1 0 0%;
  text-align: center;
}

header h1 {
  color: var(--bFont);
  font-size: 45px;
}

.css-snip-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.css-snip-flex .box {
  border: var(--boxbrdr) dashed;
  height: 200px;
  width: 300px;
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 25px auto;
}

.css-snip-flex .box h2 {
  text-align: center;
  justify-content: center;
  position: relative;
  top: -20px;
  border: 2px solid var(--boxbrdr);
  border-radius: 3%;
  background-color: var(--bkgd);
  width: 85%;
  height: 30px;
  margin: 0 auto;
}

footer {
  text-align: center;
}
