:root {
  --bFont: #217e7e;
  --bkgd: azure;
  --boxbrdr: sienna;
  --br: 5%;
  --mrgn: 15px;
  --shadow: 0px 0px 20px 3px;
  --bxwidth: 87%;
  --thinb: 1px solid sienna;
}

* {
  font-family: monospace;
}

body {
  background-color: var(--bkgd);
  border: 5px solid var(--bFont);
  border-radius: var(--br);
  box-shadow: var(--shadow) black;
}

header {
  display: flex 1 0 auto;
  text-align: center;
  margin: var(--mrgn);
}

header h1 {
  color: var(--bFont);
  font-size: 45px;
  text-shadow: 0px 0px 5px black;
}

.css-snip-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px;
}

.css-snip-flex .box {
  border: 2px var(--boxbrdr) dashed;
  height: 200px;
  width: 300px;
  margin: var(--mrgn);
  display: inline-block;
  flex-grow: 1;
  border-radius: var(--br);
  transition: all 0.5s ease;
}

.css-snip-flex .box h2 {
  text-align: center;
  justify-content: center;
  position: relative;
  top: -20px;
  border: var(--thinb);
  border-radius: 20%;
  background-color: var(--bkgd);
  width: var(--bxwidth);
  height: 25px;
  margin: 0 auto;
  color: var(--bFont);
}

.css-snip-flex section:hover,
.css-snip-flex section:hover h2 {
  box-shadow: var(--shadow) maroon;
  transition: box-shadow 350ms;
}

pre {
  margin: var(--mrgn) var(--mrgn);
  color: var(--bFont);
  position: relative;
  top: -5%;
  white-space: normal;
  word-wrap: break-word;
  padding-right: var(--mrgn);
  padding-left: var(--mrgn);
  text-align: center;
}

code {
  display: block;
  position: relative;
  white-space: pre;
  word-wrap: break-word;
  margin: 15px;
  border: var(--thinb);
  border-radius: var(--br);
  background: linear-gradient(var(--bkgd), var(--bFont));
  padding: 5px;
  top: -5%;
  font-size: 85%;
}

footer {
  text-align: center;
}

@media screen and (max-width: 745px) {
  body {
    --bFont: rgb(126, 103, 103);
    --bkgd: rgb(253, 243, 196);
    --boxbrdr: olive;
  }
}
